@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
    --font-size: 18px;
}

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
  background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-color: var(--dark-cyan);
  background-position: right 50vw bottom 20vh, 45vw 60vh;
  background-repeat: no-repeat;
  // max-width: 1440px;
}

.container{
  // background: black;
  margin: 0 auto;
  max-width: 375px;
  margin-top: 25vh;
}

.card {
  text-align: center;
  background: var(--white);
  border-radius: 15px;
  // box-shadow: 0 0 10px 0 var(--grayish-blue);
}

.id-image {
  background-image: url(images/bg-pattern-card.svg);
  border-radius: 15px 15px 0 0; 
  object-fit: cover;
}

.id-image img {
  border-radius: 50%;
  border: 5px solid var(--white);
  margin: 100px 0 -50px;
}

.id-name {
  margin-top: 60px;

  span, p {
    color: var(--dark-gray);
  }

  span{
    padding: 0 10px;
    font-weight: 400;
  }

  p {
    padding: 10px 0;
  }
}

h4 {
  color: var(--dark-blue);
}

p {
  color: var(--dark-gray);
  font-size: 12px;
}

.id-followers {
  margin-top: 20px;
  border-top: 1px solid var(--dark-gray);
  .followers {
    display: inline-block;
    padding: 20px;
  }

}

@media screen and (max-width: 379px) {
  body {
  background-position: right 40vw bottom 20vh, 40vw 40vh;
  }
  .card {
    margin: 0 20px;
  }
}



